.App {
  text-align: center;
  height: 100vh;
  background-color: #bdc4cb;
  /* background-image: linear-gradient(green,green); */
}

.input_box_button {
  align-items: center;
  display: flex;
  justify-content: center;
}
